/*
Footer Design
 */
.footer{
    background-color: #2c3e50;
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
    font-style: oblique;
    padding-top: 75px;
    padding-bottom: 50px;
    border-color: transparent;
}