/*
Startseite individuelle Schriftarten!
 */

/* Überschrift */
.überschrift{
    font-size: 60px; /* Increase font size */
    color: #2c3e50; /* Color */
    text-align: center;
    font-style: oblique;
}

/* Überschrift */
.überschrift1{
    font-size: 35px; /* Increase font size */
    color: #18BC9C; /* Color */
    font-style: oblique;
    padding-top: 20px;
}

/* Überschrift */
.überschrift2{
    font-size: 35px; /* Increase font size */
    color: #18BC9C; /* Color */
    font-style: oblique;
}


/* Text */
.ptext{
    font-size: 20px; /*Schriftgröße */
    font-style: oblique; /*Schriftstil */
    text-align: justify; /* Blocksatz */
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

