{% trans_default_domain 'FOSUserBundle' %}

<div class="panel-heading">
    <div class="row">
        <div class="col-md-12">
            <h3><center><strong> Übersicht des Profils</strong></center></h3>
        </div>
    </div>
</div>

<hr>

<div class="panel-body">

    <div class="row">
        <div class="col-md-6">
            <div class="fos_user_user_show">
                <div class="ptext">
                    {{ form_start(form, { 'action': path('fos_user_profile_edit'),
                        'attr': { 'class': 'fos_user_profile_edit' } }) }}
                    {{ form_widget(form) }}
                    <div>
                        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>


