{% trans_default_domain 'FOSUserBundle' %}

<div class="panel-heading">
    <div class="row">
        <div class="col-md-12">
            <h3><center><strong> Übersicht des Profils</strong></center></h3>
        </div>
    </div>
</div>

<hr>

<div class="panel-body">

    <div class="row">
        <div class="col-md-2">
            <div class="fos_user_user_show">
                <div class="ptext">
                    <strong>Identifikationsnummer:</strong>
                    <strong>Benutzername:</strong> <br>
                    <strong>E-Mail-Adresse:</strong>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="fos_user_user_show">
                <div class="ptext">
                    {{ user.id }} <br>
                    {{ user.username }} <br>
                    {{ user.email }}
                </div>

            </div>
        </div>
    </div>
</div>


