{% extends 'backend.html.twig' %}

{% block body %}


    <div class="panel-heading">

        <h3 class="panel-title"><center>ToDo´s erstellen</center></h3>
    </div>

    <div class="jumbotron">

        <a class="btn btn-primary" href="{{ path('ToDos_anzeigen') }}">zurück zur Übersicht!</a>

        <h2 class="page-header">Todo erstellen</h2>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </div>

{% endblock %}