{% extends 'backend.html.twig' %}

{% block title %}Kiuwe gGmbH{% endblock %}

{% block body %}

    <div class="jumbotron">

    {% include 'ADesignsCalendarBundle::calendar.html.twig' %}

    </div>

{% endblock %}
