{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="jumbotron">
        <div class="row">
            <div class="col-md-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Kiuwe gGmbH im Überblick
                                </a>
                            </h4>
                        </div>

                        <div class="panel-body">
                            <div class="col-md-6">
                                <div style="text-align:justify;">
                                    <h3> Hier finden Sie uns! </h3>
                                    <address>
                                        <strong>Kiuwe gGmbh</strong><br>
                                        Inhaberin: Jörg Rohde<br>
                                        Sprengelstraße 27<br>
                                        13353 Berlin<br>
                                        Telefon: 0172 / 5648306 <br>
                                        E-Mail: michael.trotzer@googlemail.com <br>
                                        Steuer-Nr. xx/xxx/xxxxx <br>
                                    </address>

                                    <h3>Urheberrecht</h3>
                                    Falls nicht anders angegeben, unterliegen alle Seiten dieses Webangebots dem Urheberrecht (Copyright). Dies gilt insbesondere für Texte, Bilder, Grafiken und Style-Dateien, einschließlich deren Anordnung auf den Webseiten.
                                    Eine Vervielfältigung oder Verwendung von Webseiten (oder von Teilen daraus) in anderen elektronischen oder gedruckten Publikationen und deren Veröffentlichung (auch im Internet) ist nur nach vorheriger Genehmigung gestattet.
                                    Weiterhin können Bilder, Grafiken, Text- oder sonstige Dateien ganz oder teilweise dem Urheberrecht Dritter unterliegen.
                                    Alle innerhalb des Internetangebots genannten und ggf. durch Dritte geschützten Marken- und Warenzeichen unterliegen uneingeschränkt den Bestimmungen des jeweils gültigen Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen Eigentümer. Allein aufgrund der bloßen Nennung in unserem Internetangebot ist nicht der Schluss zu ziehen, dass Markenzeichen nicht durch Rechte Dritter geschützt sind.

                                    <h3>Haftungsausschluss</h3>
                                    Der Autor hat alle in seinem Bereich bereitgestellten Informationen nach bestem Wissen und Gewissen erarbeitet und geprüft. Jedoch übernimmt der Autor keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit oder Qualität der bereitgestellten Informationen. Haftungsansprüche gegen den Autor, welche sich auf Schäden materieller oder ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und unvollständiger Informationen verursacht wurden, sind grundsätzlich ausgeschlossen, sofern seitens des Autors kein nachweislich vorsätzliches oder grob fahrlässiges Verschulden vorliegt.
                                    Alle Angebote sind freibleibend und unverbindlich. Der Autor behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.

                                    <h3>Verweise und Links (Disclaimer)</h3>
                                    Bei direkten oder indirekten Verweisen auf fremde Webseiten ("Hyperlinks"), die außerhalb des Verantwortungsbereiches des Autors liegen, würde eine Haftungsverpflichtung ausschließlich in dem Fall in Kraft treten, in dem der Autor von den Inhalten Kenntnis hat und es ihm technisch möglich und zumutbar wäre, die Nutzung im Falle rechtswidriger Inhalte zu verhindern.
                                    Der Autor erklärt hiermit ausdrücklich, dass zum Zeitpunkt der Linksetzung keine illegalen Inhalte auf den zu verlinkenden Seiten erkennbar waren. Auf die aktuelle und zukünftige Gestaltung, die Inhalte oder die Urheberschaft der gelinkten/verknüpften Seiten hat der Autor keinerlei Einfluss. Deshalb distanziert er sich hiermit ausdrücklich von allen Inhalten aller gelinkten/verknüpften Seiten, die nach der Linksetzung verändert wurden. Diese Feststellung gilt für alle innerhalb des eigenen Internetangebotes gesetzten Links und Verweise sowie für Fremdeinträge in vom Autor eingerichteten Gästebüchern, Diskussionsforen und Mailinglisten. Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung solcherart dargebotener Informationen entstehen, haftet allein der Anbieter der Seite, auf welche verwiesen wurde, nicht derjenige, der über Links auf die jeweilige Veröffentlichung lediglich verweist.

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div style="text-align:justify;">

                                    <h3>Datenschutz</h3>
                                    Sofern innerhalb des Internetangebotes die Möglichkeit zur Eingabe persönlicher oder geschäftlicher Daten (Emailadressen, Namen, Anschriften) besteht, so erfolgt die Preisgabe dieser Daten seitens des Nutzers auf ausdrücklich freiwilliger Basis. Die Inanspruchnahme und Bezahlung aller angebotenen Dienste ist - soweit technisch möglich und zumutbar - auch ohne Angabe solcher Daten bzw. unter Angabe anonymisierter Daten oder eines Pseudonyms gestattet. Die Nutzung der im Rahmen des Impressums oder vergleichbarer Angaben veröffentlichten Kontaktdaten wie Postanschriften, Telefon- und Faxnummern sowie Emailadressen durch Dritte zur Übersendung von nicht ausdrücklich angeforderten Informationen ist nicht gestattet. Rechtliche Schritte gegen die Versender von sogenannten Spam-Mails bei Verstößen gegen dieses Verbot sind ausdrücklich vorbehalten.

                                    <h3>Verwendung von Facebook Social Plugins</h3>
                                    Diese Website verwendet sogenannte Social Plugins ("Plugins") des sozialen Netzwerkes Facebook , das von der Facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA ("Facebook") betrieben wird. Die Plugins sind mit einem Facebook-Logo oder dem Zusatz "Soziales Plug-in von Facebook" bzw. "Facebook Social Plugin" gekennzeichnet. Eine Übersicht über die Facebook Plugins und deren Aussehen finden Sie hier: http://developers.facebook.com/plugins
                                    Wenn Sie eine Seite unseres Webauftritts aufrufen, die ein solches Plugin enthält, baut Ihr Browser eine direkte Verbindung mit den Servern von Facebook auf. Der Inhalt des Plugins wird von Facebook direkt an Ihren Browser übermittelt und von diesem in die Webseite eingebunden.
                                    Durch die Einbindung der Plugins erhält Facebook die Information, dass Ihr Browser die entsprechende Seite unseres Webauftritts aufgerufen hat, auch wenn Sie kein Facebook-Konto besitzen oder gerade nicht bei Facebook eingeloggt sind. Diese Information (einschließlich Ihrer IP-Adresse) wird von Ihrem Browser direkt an einen Server von Facebook in den USA übermittelt und dort gespeichert.
                                    Sind Sie bei Facebook eingeloggt, kann Facebook den Besuch unserer Website Ihrem Facebook-Konto direkt zuordnen. Wenn Sie mit den Plugins interagieren, zum Beispiel den "Gefällt mir"-Button betätigen oder einen Kommentar abgeben, wird die entsprechende Information ebenfalls direkt an einen Server von Facebook übermittelt und dort gespeichert. Die Informationen werden zudem auf Facebook veröffentlicht und Ihren Facebook-Freunden angezeigt.
                                    Facebook kann diese Informationen zum Zwecke der Werbung, Marktforschung und bedarfsgerechten Gestaltung der Facebook-Seiten benutzen. Hierzu werden von Facebook Nutzungs-, Interessen- und Beziehungsprofile erstellt, z. B. um Ihre Nutzung unserer Website im Hinblick auf die Ihnen bei Facebook eingeblendeten Werbeanzeigen auszuwerten, andere Facebook-Nutzer über Ihre Aktivitäten auf unserer Website zu informieren und um weitere mit der Nutzung von Facebook verbundene Dienstleistungen zu erbringen.
                                    Wenn Sie nicht möchten, dass Facebook die über unseren Webauftritt gesammelten Daten Ihrem Facebook-Konto zuordnet, müssen Sie sich vor Ihrem Besuch unserer Website bei Facebook ausloggen.
                                    Zweck und Umfang der Datenerhebung und die weitere Verarbeitung und Nutzung der Daten durch Facebook sowie Ihre diesbezüglichen Rechte und Einstellungsmöglichkeiten zum Schutz Ihrer Privatsphäre entnehmen Sie bitte den Datenschutzhinweisen von Facebook: http://www.facebook.com/policy.php

                                    <h3>Protokollierung</h3>
                                    Bei jeder Anforderung einer Webseite oder eines damit verknüpften Objektes werden folgende Zugriffsdaten gespeichert:
                                    die Adresse (URL) der Webseite, von der aus die Datei angefordert wurde
                                    der Name der aufgerufenen Datei
                                    das Datum und die Uhrzeit der Anforderung
                                    die übertragene Datenmenge
                                    der Zugriffsstatus (Datei übertragen, Datei nicht gefunden, etc.)
                                    die Beschreibung des verwendeten Webbrowsertyps bzw. des verwendeten Betriebssystems
                                    die IP-Adresse des anfordernden Rechners.
                                    Die gespeicherten Daten werden ausschließlich zu technischen oder statistischen Zwecken benötigt; ein Abgleich mit anderen Datenbeständen oder gar eine Weitergabe an Dritte, auch in Auszügen, findet nicht statt.
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>




{% endblock %}