{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    <blockquote class="blockquote-reverse">
        <p>"Mangelnde Transparenz führt zu nicht nützlichen Fantasien"</p>
        <small>Michael Trotzer</small>
    </blockquote>

    <div class="jumbotron">
        <div class="row">
            <!-- Eine Spalte Text -->
            <div class="col-md-12">
                <h3>Leitbild der Berliner xxx gGmbH</h3>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                sit amet.
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                sit amet.
            </div>

            </hr>

            <div class="row">

                <div class="col-md-4">
                    <h3><center> Basis!</center></h3>
                    Basis unserer täglichen Arbeit ist das Berliner Bildungsprogramm.
                    Wir arbeiten situativ und holen die Kinder dort ab, wo sie stehen.
                    Die Kinder werden in ihren Handlungen gestärkt und verlassen als
                    selbstbewusste Persönlichkeiten die Kita um in die Schule einzutreten.
                    Klassische Vorschularbeit findet bei uns nicht statt, in dem Moment,
                    wo das Kind in die Kita kommt, beginnt die Vorschule, d. h. die Kinder
                    werden von Anfang an auf die Schule vorbereitet.
                    Im letzten Drittel vor der Schule gibt es ein Schulübergangsprojekt,
                    wo die Kinder ganz gezielt auf die Schule vorbereitet werden.

                </div>

                <div class="col-md-4">
                    <h3><center> Enterprise!</center></h3>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                    voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                    amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                    nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                    sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                    Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                    sit amet.
                </div>

                <div class="col-md-4">
                    <h3><center> Technologie!</center></h3>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                    voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                    amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                    nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                    sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                    Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                    sit amet.
                </div>
            </div>
        </div>
    </div>

{% endblock %}