{% extends 'backend_mitarbeiter.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">

            <center><h1> Willkommen bei der Mitarbeiterübersicht der Kiuwe gGmbH!</h1></center>

        </div>
    </div>


{% endblock %}