{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}



<div class="jumbotron">

    <blockquote class="blockquote">
        <p>" Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed "</p>
        <small>Jörg Rohde</small>
    </blockquote>

    <div class="row">
        <!-- Eine Spalte Text -->
        <div class="col-md-6">
            <div style="text-align:justify;">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                sit amet.
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                sit amet.
            </div>
        </div>

        <div class="col-md-6">
            <img class="img-responsive img-rounded" src="{{ asset('images/kindergarten.jpg') }}" />
        </div>
    </div>

    <hr>

    <blockquote class="blockquote-reverse">
        <p>" Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed "</p>
        <small>Jörg Rohde</small>
    </blockquote>

    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive img-rounded" src="{{ asset('images/kindergarten1.jpg') }}" />
        </div>

        <div class="col-md-6">
            <div style="text-align:justify;">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                sit amet.
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                sit amet.
            </div>
        </div>
    </div>

    <hr>

    <blockquote class="blockquote">
        <p>Von der Gründung bis zur Neuzeit, die Geschichte unseres Kiuwe gGmbH </p>
    </blockquote>

    <div class="container">
        <ul class="timeline">
            <li>
                <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Überschrift</h4>
                        <small class="text-muted"><i class="glyphicon glyphicon-time"></i> 23.06.2017 Michael Trotzer</small>
                    </div>
                    <div class="timeline-body">
                        Hallo hier ein Test
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                    </div>
                    <div class="timeline-body">
                        Hallo das ist ein Test
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Überschrift</h4>
                        <small class="text-muted"><i class="glyphicon glyphicon-time"></i> 23.06.2017 Michael Trotzer</small>
                    </div>
                    <div class="timeline-body">
                        Hallo hier ein Test
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                    </div>
                    <div class="timeline-body">
                       Hallo das ist ein Test
                    </div>
                </div>
            </li>
        </ul>
    </div><!-- Timeline Ende -->
</div>

{% endblock %}