{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    <div class="jumbotron">
        <div class="row">
            <div class="col-md-12">
                <center><h3>Das Management Team </h3></center>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-3">
                <img class="img-rounded" src="{{ asset('images/Jorg.jpg') }}" alt="Jörg Rohde" width="200" height="320"/>
            </div>

            <div class="col-md-9">
                <div class="caption">
                    <center>
                        <h3>Jörg Rohde</h3>
                        <p class="text-success">Gründer und Visionär</p>
                    </center>

                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                        vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                        no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                        dolores et ea rebum.</p>
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-9">
                <div class="caption">
                    <center>
                        <h3>Svenja Rohde</h3>
                        <p class="text-success">Geschäftsführerin</p>
                    </center>

                    <p> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                        vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                        no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                        dolores et ea rebum.
                    </p>
                </div>
            </div>

            <div class="col-md-3">
                <img class="img-rounded" src="{{ asset('images/Svenja.jpg') }}" alt="Svenja Rohde" width="200" height="320"/>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-3">
                <img class="img-rounded" src="{{ asset('images/Michael.jpg') }}" alt="Michael Trotzer" width="200" height="320"/>
            </div>

            <div class="col-md-9">
                <div class="caption">
                    <center>
                        <h3>Michael Trotzer</h3>
                        <p class="text-success">Technischer Leiter</p>
                    </center>

                    <p> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                        vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                        no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                        dolores et ea rebum.
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}