/*
Startseite individuelle Schriftarten!
 */

/* Überschrift */
.überschrift{
    font-size: 60px; /* Increase font size */
    color: #2c3e50; /* Color */
    text-align: center;
    font-style: oblique;
}

/* Überschrift */
.überschrift1{
    font-size: 35px; /* Increase font size */
    color: #18BC9C; /* Color */
    font-style: oblique;
    padding-top: 20px;
    text-align: center;
}

/* Überschrift */
.überschrift2{
    font-size: 35px; /* Increase font size */
    color: #18BC9C; /* Color */
    font-style: oblique;
    text-align: center;
}


/* Text */
.ptext{
    font-size: 20px; /*Schriftgröße */
    font-style: oblique; /*Schriftstil */
    text-align: justify; /* Blocksatz */
}
