{% extends 'backend.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="panel-heading">
        <h3 class="panel-title"><center>Wissensmanagement</center></h3>
    </div>

    <div class="jumbotron">
        <p> Wiki</p>
    </div>

{% endblock %}
