{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="überschrift">
                Impressum
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-6">
                <div class="überschrift2">
                    Impressumsangaben
                </div>
                <div class="ptext">
                    Kiuwe GmbH UG <br>
                    Impressumsstraße 7, 22222 Impressumsstadt <br>
                    Telefon: +49 30 123456, Fax: +49 30 123456 <br>
                    Email: kontakt@meister-mueller.de <br>
                    Internet: www.meister-mueller.de <br>
                    Vertretungsberechtigter Geschäftsführer: Max Meister <br>
                    Registernummer: HRB 9875 <br>
                    Registergericht: AG Impressumsstadt <br>
                    Wenn vorhanden: Umsatzsteueridentifikationsnummer gemäß § 27a Umsatzsteuergesetz: DE 63527364839
                </div>
            </div>

            <div class="col-md-6">
                <div class="überschrift2">
                    Hier finden Sie uns!
                </div>
                <div class="ptext">
                    <div id="googleMap" style="width:100%;height:300px;"></div>

                    <script>
                        function myMap() {
                            var mapProp= {
                                center:new google.maps.LatLng(52.580910, 13.399884),
                                zoom:17,
                            };
                            var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
                        }
                    </script>

                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1rsRPtKwnNN5ML-OgGT8INUWJCeDmcH0&callback=myMap"></script>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="überschrift1">
                    Urheberrecht
                </div>
                <div class="ptext">
                    Falls nicht anders angegeben, unterliegen alle Seiten dieses Webangebots
                    dem Urheberrecht (Copyright). Dies gilt insbesondere für Texte, Bilder,
                    Grafiken und Style-Dateien, einschließlich deren Anordnung auf den
                    Webseiten. Eine Vervielfältigung oder Verwendung von Webseiten (oder von
                    Teilen daraus) in anderen elektronischen oder gedruckten Publikationen
                    und deren Veröffentlichung (auch im Internet) ist nur nach vorheriger
                    Genehmigung gestattet. Weiterhin können Bilder, Grafiken, Text- oder
                    sonstige Dateien ganz oder teilweise dem Urheberrecht Dritter unterliegen.
                    Alle innerhalb des Internetangebots genannten und ggf. durch Dritte
                    geschützten Marken- und Warenzeichen unterliegen uneingeschränkt den
                    Bestimmungen des jeweils gültigen Kennzeichenrechts und den Besitzrechten
                    der jeweiligen eingetragenen Eigentümer. Allein aufgrund der bloßen
                    Nennung in unserem Internetangebot ist nicht der Schluss zu ziehen,
                    dass Markenzeichen nicht durch Rechte Dritter geschützt sind.
                </div>

                <div class="überschrift1">
                    Haftungsausschluss
                </div>
                <div class="ptext">
                    Der Autor hat alle in seinem Bereich bereitgestellten Informationen nach
                    bestem Wissen und Gewissen erarbeitet und geprüft. Jedoch übernimmt der
                    Autor keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit
                    oder Qualität der bereitgestellten Informationen. Haftungsansprüche gegen
                    den Autor, welche sich auf Schäden materieller oder ideeller Art beziehen,
                    die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw.
                    durch die Nutzung fehlerhafter und unvollständiger Informationen verursacht
                    wurden, sind grundsätzlich ausgeschlossen, sofern seitens des Autors kein
                    nachweislich vorsätzliches oder grob fahrlässiges Verschulden vorliegt.
                    Alle Angebote sind freibleibend und unverbindlich. Der Autor behält es sich
                    ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte
                    Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung
                    zeitweise oder endgültig einzustellen.
                </div>

                <div class="überschrift1">
                    Verweise und Links (Disclaimer)
                </div>
                <div class="ptext">
                    Bei direkten oder indirekten Verweisen auf fremde Webseiten ("Hyperlinks"),
                    die außerhalb des Verantwortungsbereiches des Autors liegen, würde eine
                    Haftungsverpflichtung ausschließlich in dem Fall in Kraft treten, in dem
                    der Autor von den Inhalten Kenntnis hat und es ihm technisch möglich und
                    zumutbar wäre, die Nutzung im Falle rechtswidriger Inhalte zu verhindern.
                    Der Autor erklärt hiermit ausdrücklich, dass zum Zeitpunkt der Linksetzung
                    keine illegalen Inhalte auf den zu verlinkenden Seiten erkennbar waren.
                    Auf die aktuelle und zukünftige Gestaltung, die Inhalte oder die
                    Urheberschaft der gelinkten/verknüpften Seiten hat der Autor keinerlei
                    Einfluss. Deshalb distanziert er sich hiermit ausdrücklich von allen
                    Inhalten aller gelinkten/verknüpften Seiten, die nach der Linksetzung
                    verändert wurden. Diese Feststellung gilt für alle innerhalb des eigenen
                    Internetangebotes gesetzten Links und Verweise sowie für Fremdeinträge
                    in vom Autor eingerichteten Gästebüchern, Diskussionsforen und
                    Mailinglisten. Für illegale, fehlerhafte oder unvollständige
                    Inhalte und insbesondere für Schäden, die aus der Nutzung oder
                    Nichtnutzung solcherart dargebotener Informationen entstehen,
                    haftet allein der Anbieter der Seite, auf welche verwiesen wurde,
                    nicht derjenige, der über Links auf die jeweilige Veröffentlichung
                    lediglich verweist.
                </div>

                <div class="überschrift1">
                    Datenschutz
                </div>
                <div class="ptext">
                Sofern innerhalb des Internetangebotes die Möglichkeit zur Eingabe
                    persönlicher oder geschäftlicher Daten (Emailadressen, Namen,
                    Anschriften) besteht, so erfolgt die Preisgabe dieser Daten
                    seitens des Nutzers auf ausdrücklich freiwilliger Basis. Die
                    Inanspruchnahme und Bezahlung aller angebotenen Dienste ist -
                    soweit technisch möglich und zumutbar - auch ohne Angabe solcher
                    Daten bzw. unter Angabe anonymisierter Daten oder eines Pseudonyms
                    gestattet. Die Nutzung der im Rahmen des Impressums oder vergleichbarer
                    Angaben veröffentlichten Kontaktdaten wie Postanschriften, Telefon-
                    und Faxnummern sowie Emailadressen durch Dritte zur Übersendung von
                    nicht ausdrücklich angeforderten Informationen ist nicht gestattet.
                    Rechtliche Schritte gegen die Versender von sogenannten Spam-Mails bei
                    Verstößen gegen dieses Verbot sind ausdrücklich vorbehalten.
                </div>

                <div class="überschrift1">Protokollierung</div>
                <div class="ptext">
                Bei jeder Anforderung einer Webseite oder eines damit verknüpften Objektes werden folgende Zugriffsdaten gespeichert:
                die Adresse (URL) der Webseite, von der aus die Datei angefordert wurde
                der Name der aufgerufenen Datei
                das Datum und die Uhrzeit der Anforderung
                die übertragene Datenmenge
                der Zugriffsstatus (Datei übertragen, Datei nicht gefunden, etc.)
                die Beschreibung des verwendeten Webbrowsertyps bzw. des verwendeten Betriebssystems
                die IP-Adresse des anfordernden Rechners.
                Die gespeicherten Daten werden ausschließlich zu technischen oder statistischen Zwecken benötigt; ein Abgleich mit anderen Datenbeständen oder gar eine Weitergabe an Dritte, auch in Auszügen, findet nicht statt.
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
{% endblock %}