{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container">
        <div class="row">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-youtube"></a>

            <div class="überschrift">
              Kontakt
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Kontakt
                            </a>
                        </h4>
                    </div>

                    <div class="panel-body">
                        <div class="col-md-6">
                            <div style="text-align:justify;">
                                <h3> Hier finden Sie uns! </h3>
                                <address>
                                    <strong>Kiuwe gGmbh</strong><br>
                                    Inhaberin: Jörg Rohde<br>
                                    Sprengelstraße 27<br>
                                    13353 Berlin<br>
                                    Telefon: 0172 / 5648306 <br>
                                    E-Mail: michael.trotzer@googlemail.com <br>
                                    Steuer-Nr. xx/xxx/xxxxx <br>
                                </address>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div style="text-align:justify;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}