{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container">
        <div class="überschrift">
            Unser großartiges Team
        </div>

        <br>
        <br>

        <div class="row">
            <div class="col-sm-4">
                <div class="team-members">
                    <div class="team-avatar">
                        <img class="img-responsive" src="{{ asset('images/Jorg.jpg') }}" alt="Jörg Rohde">
                    </div>
                    <div class="team-desc">
                        <h4>Gründer</h4>
                        <span>Jörg Rohde</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-members">
                    <div class="team-avatar">
                        <img class="img-responsive" src="{{ asset('images/Svenja.jpg') }}" alt="">
                    </div>
                    <div class="team-desc">
                        <h4>Gründer</h4>
                        <span>Svenja Rohde</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-members">
                    <div class="team-avatar">
                        <img class="img-responsive" src="{{ asset('images/Michael.jpg') }}" alt="Michael Trotzer">
                    </div>
                    <div class="team-desc">
                        <h4>Technischer Leiter</h4>
                        <span>Michael Trotzer</span>
                    </div>
                </div>
            </div>
        </div><!-- //end row -->

        <div class="row">
            <div class="col-sm-4">
                <div class="team-members">
                    <div class="team-avatar">
                        <img class="img-responsive" src="http://keenthemes.com/assets/bootsnipp/member1.png" alt="">
                    </div>
                    <div class="team-desc">
                        <h4>Marketing</h4>
                        <span>Max Muster</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-members">
                    <div class="team-avatar">
                        <img class="img-responsive" src="http://keenthemes.com/assets/bootsnipp/member2.png" alt="">
                    </div>
                    <div class="team-desc">
                        <h4>Kitaleitung</h4>
                        <span>Felix Mustermann</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-members">
                    <div class="team-avatar">
                        <img class="img-responsive" src="{{ asset('images/Mats.jpeg') }}" alt="Michael Trotzer">
                    </div>
                    <div class="team-desc">
                        <h4>Süß</h4>
                        <span>Mats Rohde</span>
                    </div>
                </div>
            </div>
        </div><!-- //end row -->
    </div>
    <br>
    <br>

{% endblock %}