{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container">
        <div class="überschrift">
            Unser großartiges Team
        </div>

        <br>
        <br>

        <div class="row">
            <div class="col-sm-4">
                <div class="team-members">
                    <div class="team-avatar">
                        <img class="img-responsive" src="http://keenthemes.com/assets/bootsnipp/member1.png" alt="">
                    </div>
                    <div class="team-desc">
                        <h4>Jörg Rohde</h4>
                        <span>Gründer und Visionär</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-members">
                    <div class="team-avatar">
                        <img class="img-responsive" src="http://keenthemes.com/assets/bootsnipp/member2.png" alt="">
                    </div>
                    <div class="team-desc">
                        <h4>Svenja Rohde</h4>
                        <span>Gründerin</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-members">
                    <div class="team-avatar">
                        <img class="img-responsive" src="http://keenthemes.com/assets/bootsnipp/member3.png" alt="Michael Trotzer">
                    </div>
                    <div class="team-desc">
                        <h4>Michael Trotzer</h4>
                        <span>Technischer Leiter</span>
                    </div>
                </div>
            </div>
        </div><!-- //end row -->

        <div class="row">
            <div class="col-sm-4">
                <div class="team-members">
                    <div class="team-avatar">
                        <img class="img-responsive" src="http://keenthemes.com/assets/bootsnipp/member1.png" alt="">
                    </div>
                    <div class="team-desc">
                        <h4>Jörg Rohde</h4>
                        <span>Gründer und Visionär</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-members">
                    <div class="team-avatar">
                        <img class="img-responsive" src="http://keenthemes.com/assets/bootsnipp/member2.png" alt="">
                    </div>
                    <div class="team-desc">
                        <h4>Svenja Rohde</h4>
                        <span>Gründerin</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-members">
                    <div class="team-avatar">
                        <img class="img-responsive" src="{{ asset('images/Mats.jpeg') }}" alt="Michael Trotzer">
                    </div>
                    <div class="team-desc">
                        <h4>Michael Trotzer</h4>
                        <span>Technischer Leiter</span>
                    </div>
                </div>
            </div>
        </div><!-- //end row -->
    </div>
    <br>
    <br>

{% endblock %}