{% extends 'backend.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1>Stellenangebote</h1>

        <p>Stellenangebote</p>

    </div>

{% endblock %}