{% extends 'backend.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="panel-heading">
        <a href="{{ path('Startseite') }}" class="btn btn-default btn-xs">zurück</a>
    </div>

    <div class="jumbotron">
    <div class="row">
        <h1 class="panel-title"><center>Übersicht der Stellenangebote</center></h1>
    </div>

    <hr>

    <div class="row">
        <!-- linke Spalte -->
        <div class="col-md-3">
            Form zum Bewerben
        </div>
    </div>



{% endblock %}