{% extends 'backend.html.twig' %}

{% block body %}

<div class="panel-heading">
    <a class='btn btn-primary btn-xs' href="{{ path('Dashboard') }}"><span class="glyphicon glyphicon-home"></span></a>
</div>

<div class="jumbotron">
    <div class="row">
        <h1 class="panel-title"><center>Details des Stellenangebots</center></h1>
    </div>

    <hr>

    <div class="row">
        <!-- linke Spalte -->
        <div class="col-md-3">
            <a class='btn btn-primary btn-xs' href="{{ path('Stellenangebote_anzeigen') }}"><span class="glyphicon glyphicon-home"></span> zurück zur Stellenangebotsübersicht</a>
        </div>
    </div>
</div>
{% endblock %}



